*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color:#fff;
    height:5rem;
    line-height: 5rem;

}
.choice{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    opacity: 0.5;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 10%;
}
.choices{
    margin-top:5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 8rem;
}
#user-score,#comp-score{
    font-size: 3.5rem;
}
.msg-container{
    margin-top: 4rem;
}
#msg{
    background-color: #081b31;
    color:#fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}